rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Reglas para la carpeta de conversaciones
    match /conversations/{conversationId}/{fileName} {
      // Permitir lectura y escritura solo si el usuario está autenticado (Agentes)
      // Las URLs públicas generadas con getDownloadURL() funcionarán independientemente de estas reglas
      allow read, write: if request.auth != null;
    }
    
    // Bloquear acceso a cualquier otra ruta por defecto
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}